# Enable compiler cache

BR2_CCACHE=y
BR2_CCACHE_DIR="\$(HOME)/.buildroot-ccache"
BR2_CCACHE_INITIAL_SETUP=""
BR2_CCACHE_USE_BASEDIR=y

# Common settings

BR2_TOOLCHAIN_BUILDROOT_CXX=y
BR2_TOOLCHAIN_BUILDROOT_WCHAR=y
BR2_TOOLCHAIN_HAS_THREADS=y
BR2_TOOLCHAIN_HAS_THREADS_NPTL=y

# HDMI

BR2_PACKAGE_LIBDRM=y
BR2_PACKAGE_LIBDRM_INSTALL_TESTS=y

BR2_PACKAGE_MESA3D=y
BR2_PACKAGE_MESA3D_GALLIUM_DRIVER_VC4=y
BR2_PACKAGE_MESA3D_OPENGL_EGL=y
BR2_PACKAGE_MESA3D_OPENGL_ES=y

# Users

BR2_ROOTFS_USERS_TABLES="$(BR2_EXTERNAL_ASTROCAM_PATH)/board/users.txt"

# SSL support

BR2_PACKAGE_OPENSSL=y
BR2_PACKAGE_CA_CERTIFICATES=y

# Device management

BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_EUDEV=y
BR2_PACKAGE_USBMOUNT=y

# NTP support

BR2_PACKAGE_NTP=y
BR2_PACKAGE_NTP_NTPDATE=y

# Locales

BR2_TOOLCHAIN_BUILDROOT_LOCALE=y
BR2_GENERATE_LOCALE="ru_RU.UTF-8"

# Network applications

BR2_PACKAGE_OPENSSH=y
BR2_PACKAGE_RSYNC=y

# Camera

BR2_PACKAGE_LIBCAMERA=y
BR2_PACKAGE_LIBCAMERA_PIPELINE_RPI=y
BR2_PACKAGE_LIBCAMERA_APPS=y

BR2_PACKAGE_LIBPNG=y
BR2_PACKAGE_JPEG=y

# Minimal busybox-based system

BR2_INIT_BUSYBOX=y
