# Rootfs configuration

BR2_ROOTFS_OVERLAY="$(BR2_EXTERNAL_ASTROCAM_PATH)/board/raspberrypi/raspberrypi0w/rootfs_overlay"
BR2_TARGET_ROOTFS_EXT2_SIZE="80M"

# Linux configuration

BR2_LINUX_KERNEL_CONFIG_FRAGMENT_FILES="$(BR2_EXTERNAL_ASTROCAM_PATH)/board/raspberrypi/raspberrypi0w/linux.fragment"
BR2_LINUX_KERNEL_DTB_OVERLAY_SUPPORT=y

BR2_LINUX_KERNEL_DTS_SUPPORT=y
BR2_LINUX_KERNEL_INTREE_DTS_NAME="broadcom/bcm2708-rpi-zero-w"

# RPi0-specific

BR2_arm=y
BR2_arm1176jzf_s=y
BR2_ARM_EABIHF=y
BR2_ARM_FPU_VFPV2=y

# Toolchain configuration
BR2_TOOLCHAIN_EXTERNAL=y
BR2_TOOLCHAIN_EXTERNAL_BOOTLIN_ARMV6_EABIHF_GLIBC_BLEEDING_EDGE=y

# V4L2 stuff

BR2_PACKAGE_LIBV4L=y
BR2_PACKAGE_LIBV4L_UTILS=y
BR2_PACKAGE_LIBCAMERA_V4L2=y
BR2_PACKAGE_LIBCAMERA_PIPELINE_RPI_VC4=y

# Videocore firmware

BR2_PACKAGE_RASPBERRYPI_FIRMWARE=y
BR2_PACKAGE_RASPBERRYPI_FIRMWARE_BOOTLOADER=y

# Devicetree utils

BR2_PACKAGE_DTC=y
BR2_PACKAGE_DTC_PROGRAMS=y

BR2_PACKAGE_RPI_FIRMWARE_CONFIG_FILE="$(BR2_EXTERNAL_ASTROCAM_PATH)/board/raspberrypi/raspberrypi0w/config.txt"
BR2_PACKAGE_RPI_FIRMWARE_CMDLINE_FILE="$(BR2_EXTERNAL_ASTROCAM_PATH)/board/raspberrypi/raspberrypi0w/cmdline.txt"

BR2_GLOBAL_PATCH_DIR="board/raspberrypi/patches $(BR2_EXTERNAL_ASTROCAM_PATH)/board/raspberrypi/patches"

# Post-build script
BR2_ROOTFS_POST_BUILD_SCRIPT="board/raspberrypi0w/post-build.sh $(BR2_EXTERNAL_ASTROCAM_PATH)/board/raspberrypi/raspberrypi0w/post-build.sh"

BR2_TARGET_GENERIC_REMOUNT_ROOTFS_RW=n
